html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}


.page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem repeat(2, 3fr) 5rem;
    grid-template-areas: "header header header"
                                      "main main main"
                                      "main main main"
                                      "footer footer footer";
}

.header {
    width: 100%;
    height: 100%;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #263238;
}

.header-links {
    width: 100%;
    height: 100%;
    display: none;
}

.header-title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: url("../images/header-background.png");
    color: #ecf0f1;
}


.header-title-content {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}


.header-title-content-first-text {
    color: #FF3D00;
}

.header-title-hamburger-menu {
    font-size: 1.3rem;
    text-decoration: none;
    color: #ecf0f1;
}

.header-nav {
    width: 100%;
    height: 100%;
    display: none;
}

.nav {
    width: 100%;
    height: 100%;
    grid-area: nav;
    grid-column: -1 / 3;
    grid-row: 2 / 4;
    display: none;
    background: url("../images/header-background.png");
    z-index: 1;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-container-links {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF3D00;
}

.nav-container-links-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    text-decoration: none;
    color: #ecf0f1;
}



.main {
    width: 100%;
    height: 100%;
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: #ECEFF1;
    overflow-y: scroll;
}



.main-image {
    width: 100%;
    height: 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
}

.main-image-img {
    width: 16%;
    height: auto;
    border: .3rem double #95a5a6;
}

.main-details {
    width: 100%;
    height: 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
}

.main-details-title {
    width: 100%;
    padding-top: .8rem;
    padding-bottom: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #ecf0f1;
    background: url("../images/header-background.png");
}

.main-details-info {
    width: 100%;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #607D8B;
}

.main-details-info-info {
    font-size: 1.1rem;
    color: #000000;
}

.main-details-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #263238;
}

.main-details-buttons-button {
    width: 40%;
    padding-top: .2rem;
    padding-bottom: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF3D00;
}


.main-details-buttons-button-edit {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url("../images/edit.png");
    background-repeat: no-repeat;
    color: #ecf0f1;
}

.main-details-buttons-button-flag {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../images/flag.png");
    background-repeat: no-repeat;
    color: #ecf0f1;
}


.main-contact {
    width: 100%;
    height: 25%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
}

.main-contact-title {
    width: 100%;
    font-size: 1.2rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url("../images/header-background.png");
    color: #ecf0f1;
}


.main-contact-info {
    width: 100%;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #607D8B;
}

.main-contact-info-phone {
    font-size: 1.1rem;
    padding-left: 0.9rem;
    background: url("../images/call.png");
    background-repeat: no-repeat;
    color: #000000;
}

.main-contact-info-email {
    font-size: 1.1rem;
    padding-left: 0.9rem;
    background: url("../images/email.png");
    background-repeat: no-repeat;
    color: #000000;
}

.main-contact-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #263238;
}

.main-contact-buttons-button {
    width: 40%;
    padding-top: .2rem;
    padding-bottom: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF3D00;
}


.main-contact-buttons-button-edit {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    background: url("../images/edit.png");
    background-repeat: no-repeat;
    color: #ecf0f1;
}

.main-contact-buttons-button-flag {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    background: url("../images/flag.png");
    background-repeat: no-repeat;
    color: #ecf0f1;
}

.main-sales {
    width: 100%;
    height: 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
}

.main-sales-title {
    width: 100%;
    padding-top: .8rem;
    font-size: 1.2rem;
    padding-bottom: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url("../images/header-background.png");
    color: #ecf0f1;
}

.main-sales-image {
  width: 100%;
  height: 100%;
}

.footer {
    width: 100%;
    height: 100%;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/header-background.png");
}


.footer-nav {
    width: 100%;
    display: none;
    color: #ecf0f1;
}

.footer-copyright {
    height: 100%;
    width: 100%;
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ecf0f1;
}

@media screen and (max-height: 568px) {
        html {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .page {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr repeat(2, 3fr) 1fr;
        grid-template-areas: "header header header"
                                        "main main main"
                                        "main main main"
                                        "footer footer footer";
    }

    .header {
        width: 100%;
        height: 100%;
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #263238;
    }

    .header-links {
        width: 100%;
        height: 100%;
        display: none;
    }

    .header-title {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: url("../images/header-background.png");
        color: #ecf0f1;
    }


    .header-title-content {
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
    }


    .header-title-content-first-text {
        color: #FF3D00;
    }

    .header-title-hamburger-menu {
        font-size: 1.3rem;
        text-decoration: none;
        color: #ecf0f1;
    }

    .header-nav {
        width: 100%;
        height: 100%;
        display: none;
    }

    .nav {
        width: 100%;
        height: 100%;
        grid-area: nav;
        grid-column: -1 / 3;
        grid-row: 2 / 4;
        display: none;
        background: url("../images/header-background.png");
        z-index: 1;
    }

    .nav-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .nav-container-links {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #FF3D00;
    }

    .nav-container-links-link {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: .9rem;
        text-decoration: none;
        color: #ecf0f1;
    }

    .main {
        width: 100%;
        height: 100%;
        grid-area: main;
        background-color: #ECEFF1;
    }



    .main-image {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
    }

    .main-image-img {
        border: .3rem double #95a5a6;
    }

    .main-details {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
    }

    .main-details-title {
        width: 100%;
        padding-top: .8rem;
        padding-bottom: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: #ecf0f1;
        background: url("../images/header-background.png");
    }

    .main-details-info {
        width: 100%;
        font-size: 1.1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #607D8B;
    }

    .main-details-info-info {
        font-size: 1.1rem;
        color: #000000;
    }

    .main-details-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        background-color: #263238;
    }

    .main-details-buttons-button {
        width: 40%;
        padding-top: .2rem;
        padding-bottom: .2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #FF3D00;
    }


    .main-details-buttons-button-edit {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: url("../images/edit.png");
        background-repeat: no-repeat;
        color: #ecf0f1;
    }

    .main-details-buttons-button-flag {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url("../images/flag.png");
        background-repeat: no-repeat;
        color: #ecf0f1;
    }


    .main-contact {
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
    }

    .main-contact-title {
        width: 100%;
        font-size: 1.2rem;
        padding-top: .8rem;
        padding-bottom: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: url("../images/header-background.png");
        color: #ecf0f1;
    }


    .main-contact-info {
        width: 100%;
        font-size: 1.1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #607D8B;
    }

    .main-contact-info-phone {
        font-size: 1.1rem;
        padding-left: 0.9rem;
        background: url("../images/call.png");
        background-repeat: no-repeat;
        color: #000000;
    }

    .main-contact-info-email {
        font-size: 1.1rem;
        padding-left: 0.9rem;
        background: url("../images/email.png");
        background-repeat: no-repeat;
        color: #000000;
    }

    .main-contact-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        background-color: #263238;
    }

    .main-contact-buttons-button {
        width: 40%;
        padding-top: .2rem;
        padding-bottom: .2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #FF3D00;
    }


    .main-contact-buttons-button-edit {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: space-between;
        background: url("../images/edit.png");
        background-repeat: no-repeat;
        color: #ecf0f1;
    }

    .main-contact-buttons-button-flag {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: space-between;
        background: url("../images/flag.png");
        background-repeat: no-repeat;
        color: #ecf0f1;
    }

    .main-sales {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
    }

    .main-sales-title {
        width: 100%;
        padding-top: .8rem;
        font-size: 1.2rem;
        padding-bottom: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: url("../images/header-background.png");
        color: #ecf0f1;
    }

    .main-sales-image {
    width: 100%;
    height: 100%;
    }

    .footer {
        width: 100%;
        height: 100%;
        grid-area: footer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url("../images/header-background.png");
    }


    .footer-nav {
        width: 100%;
        display: none;
        color: #ecf0f1;
    }

    .footer-copyright {
        height: 100%;
        width: 100%;
        font-size: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #ecf0f1;
    }
}

@media screen and (min-width: 760px) {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        height: 100%;
        width: 100%;
    }

    .page {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr repeat(2 , 3fr) 1fr;
        grid-template-areas: "header header header"
                                         "main main main"
                                         "main main main"
                                         "footer footer footer";
    }

    .header-links {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
    }

    .header-links-container {
        height: 100%;
        width: 100%;
        display: none;
    }

    .header-title-content {
        font-size: 1.8rem;
    }

    .header-title-content-first-text {
        margin-right: .9rem;
    }

    .header-title-hamburger-menu {
        font-size: 1.8rem;
    }

    .header-nav {
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .header-nav-container {
        height: 100%;
        width: 100%;
        display: none;
    }


    .nav-container-links-link {
        width: 80%;
        font-size: 1.3rem;
    }

    .main {
        display: grid;
        margin-top: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "Image Personal"
                                         "contact contact"
                                         "sales sales";
            grid-row-gap: 2rem;
    }

    .main-image {
        height: 100%;
        width: 100%;
        margin: 0;
        grid-area: Image;
        justify-content: space-between;
    }

    .main-image-img {
        margin-top: 1rem;
        width: 20%;
    }

    .main-image-title {
        width: 100%;
        font-size: 1.3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #263238;
        color: #ecf0f1;
    }

    .main-details {
        height: 100%;
        width: 100%;
        margin: 0;
        grid-area: Personal;
    }

    .main-contact {
        height: 100%;
        margin: 0;
        grid-area: contact;
    }

    .main-contact-info {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .main-contact-buttons-button {
        width: 20%;
        font-size: 1.2rem;
    }

    .main-sales {
        margin-top: 0;
        height: 100%;
        grid-area: sales;
    }


}